body
{
  text-align: center;
  background-color: black;
  background-image: url('../img/gotham.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  color: white;
}

#main
{
  background-color: #292929;
  border: solid rgb(0, 0, 0);
  height: 100%;
}

h1, h4
{
  text-shadow: 2px 2px 1px rgb(75, 1, 136);
  color:rgb(110, 0, 201);
}

a
{
  text-shadow: 2px 2px 1px rgb(182, 131, 3);
  color: gold;
}

a:hover
{
  text-shadow: 2px 2px 1px rgb(114, 0, 0);
  color: rgb(175, 11, 11);
}

header
{
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0.625rem;
  top: 0;
  left: 0;
  position: fixed;
  width: 100%;
  height: 60px;
  top: 0px;
  margin-bottom: 50px;
  background-color: black;
}

#push
{
  margin-top: 100px;
}

#push-page-content-down
{
  margin-bottom: 100px;
}

#push-page-content-up
{
  margin-top: 100px;
}

#left
{
  float: left;
}

#right
{
  float: right;
}