@{
  Layout = "_Layout";
}

<div id="push-page-content-up"></div>

@model Factory.Models.Machine;

<h1>Order some new Equipment from Bane?</h1>

@using (Html.BeginForm())
{
  <h5>Name of the Machine: </h5>
  @Html.TextBoxFor(model => model.Hardware)
  
  <div>
    <br>
    <h5>@Html.Label("Which Brute is going to be working on this machine?")</h5>
    <div>
      @Html.DropDownList("EngineerId")
    </div>
  </div>
  <br>
  <input type="submit" value="Place the order" class="btn btn-success" />
}

<h3>@Html.ActionLink("Wanna see all our current Equipment?", "Index")</h3>