@{
  Layout = "_Layout";
}

<div id="push-page-content-up"></div>

@model Factory.Models.Machine

<h1>Marked for Destruction</h1>

<p>"Sir? Do you really want to g-g-g-get rid of this Equipment?"</p>

<h3>@Html.DisplayNameFor(model => model.Hardware):</h3>
<h4>@Html.DisplayFor(model => model.Hardware)</h4>
@using (Html.BeginForm())
{
  <input type="submit" value="Delete"/>
}
<h3>@Html.ActionLink("View our current Equipment sir?", "Index")</h3>