<header>
  <div class="container">
    <div class="row">
      <img src="~/img/symbol.jpg" alt="the batman" width="100" id="left">
      <div class="col">
        <h4><strong>@Html.ActionLink("Z-STRING HEADQUARTERS", "Index", "Home")</strong></h4>
      </div>
      <img src="~/img/symbol.jpg" alt="the batman" width="100" id="right">
    </div>
  </div>
</header>
<div id="push-page-content-up"></div>