@{
  Layout = "_Layout";
}

<div id="push-page-content-up"></div>

@model Factory.Models.Engineer

<div class="container" id="main">
  <h1>Employ a new Zeta-Brute</h1>
  <p>"Boss! We have some applicants, but they need new code names. Would you do us the honors?"</p>

  @using (Html.BeginForm())
  {
    @Html.LabelFor(model => model.Name)
    @Html.TextBoxFor(model => model.Name)
    <input type="submit" value="Let's get them working">
  }
  <p>@Html.ActionLink("List of Engineers", "Index")</p>
</div>