@{
  Layout = "_Layout";
}

<div id="push-page-content-up"></div>

@model Factory.Models.Engineer;

<div class="container" id="main">
  <h1>Marked for Seperation</h1>

  <p>"Boss! We have a lot of work to get done!! I-I-I'm sorry... Would you like to let this worker go?"</p>

  <h3>@Html.DisplayNameFor(model => model.Name):</h3>
  <h4>@Html.DisplayFor(model => model.Name)</h4>

  @using (Html.BeginForm())
  {
    <input type="submit" value="Delete" />
  }

  <h3>@Html.ActionLink("List of Engineers", "Index")</h3>
</div>