@{
  Layout = "_Layout";
}

<div id="push-page-content-up"></div>

<h1>Welcome Back Mr. SillyStringz</h1>
<p><em>Batman, or rather Bruce Wayne and his little "Wayne Enterprises" must be stopped!</em></p>
<p><em>Give commands to your troops and assign them to production.</em></p>

<h4>Engineers:</h4>
<h5><strong>@Html.ActionLink("Silly Zeta-String Engineers", "Index", "Engineers")</strong></h5>
<h4>Machines:</h4>
<h5><strong>@Html.ActionLink("Diabolical Production Equipment", "Index", "Machines")</strong></h5>