@{
  Layout = "_Layout";
}

<h1>Welcome Back Mr. SillyStringz</h1>
<p>Batman and his little Wayne Enterprises must be stopped!</p>
<p>Give commands to your troops and assign them to production.</p>

<h3>Engineers:</h3>
<h4><strong>@Html.ActionLink("Silly Z-String Engineers", "Index", "Engineers")</strong></h4>
<h3>Machines:</h3>
<h4><strong>@Html.ActionLink("Diabolical Z-String Production Equipment", "Index", "Machines")</strong></h4>